/*Reglas generales...*/
:root{
    --main_blue: #1A1D56;
    --gold:#FAD754;
    --line_top: rgb(177, 115, 53);
    --select: #ae8b0c;
    --font:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
*{
    box-sizing: border-box; 
    margin: 0; 
    padding: 0;
}
html, 
body{
    width: 100%;
    height: auto;
    background-color: rgb(240, 240, 240); 
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

/*more specific edition*/
/*here we have the chat bot*/
.chat_tab{
    position: fixed;
    bottom: 0;
    right: 13px;
    width: 270px;
    height: auto;
    padding: 0.7em 0;
    background-color: var(--main_blue);
    z-index: 400;
    color: #f5f4f4;
    font-family: var(--font);
    letter-spacing: 0.02em;
    cursor: pointer;
    & .title_chat{
        margin-left: 1em;
    }
    & .noti{
        position: absolute;
        top: -10px;
        right: 15px;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        background-color: rgb(223, 8, 8);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.chat_cont{
    border-radius: 0.3em 0.3em 0 0;
    position: fixed;
    bottom: 0;
    right: 13px;
    width: 370px;
    height: auto;
    z-index: 400;
    display: none;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    & .header{
        background-color: var(--main_blue);
        width: 100%;
        height: auto;
        padding: 1em 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        box-shadow: 0px 2px 6px rgba(84, 84, 84, 0.28);
        & i{
            color: #f5f4f4;
            margin: 0 0.3em;
            font-size: 1.7em;
            cursor: pointer;
        }
        & i:last-of-type{
            margin-right: 1em;
        }
        & i:hover{
            color: #e2e2e2;
            transition: all 300ms ease-in-out;
        }
    }
    & .menssage{
        width: 100%;
        height: auto;
        padding: 0.9em 0;
        background-color: var(--main_blue);
        & p{
            color: #f5f4f4;
            font-family: var(--font);
            font-size: 1em;
            text-align: center;
            line-height: 1.5;
            margin: 0 1em;
        }
    }
    & .output{
        background-color: #f5f4f4;
        width: 100%;
        height: 350px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        padding: 1em 0;
        overflow-y: scroll;
        & .chat_menssage{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: row;
            & .avatar{
                width: 20%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                & .avatar_cont{
                    width: 60%;
                    height: auto;
                    overflow: hidden;
                    border-radius: 0.6em;
                    background-color: rgb(213, 213, 213);
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            & .menssage_noti{
                width: 58%;
                height: auto;
                padding: 0.7em;
                background-color: var(--main_blue);
                border-radius: 0.5em;
                color: #f5f4f4;
                & p{
                    font-family: var(--font);
                    font-size: 0.85em;
                    letter-spacing: 0.02em;
                    font-weight: 100;
                    line-height: 1.5;
                }
            }
            & .time{
                width: 15%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                & p{
                    color: rgb(152, 152, 152);
                    font-family: var(--font);
                    font-size: 0.75em;
                    display: none;
                }
            }
            & .time:hover .time_text{
                display: block;
                transition: all 300ms ease-in-out;
            }
        }
    }
    & .writing_zone{
        width: 100%;
        height: auto;
        background-color: #ffffff;
        box-shadow: 0px -1px 4px rgba(20, 20, 20, 0.23);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        & .input_cont{
            width: 70%;
            height: auto;
            & input{
                width: 100%;
                padding: 1.1em 0.5em;
                border: none;
                color: #1a1a1a;
                font-family: var(--font);
                letter-spacing: 0.01em;
                font-size: 0.84em;
                outline: none;
            }
        }
        & .functions{
            width: 30%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            & i{
                color: #707070;
                font-size: 1.3em;
                cursor: pointer;
            }
            & i:hover{
                color: #1a1a1a;
                font-size: 1.32em;
                text-shadow: 0px 1px 6px rgba(15, 15, 15, 0.211);
                transition: all 300ms ease-in-out;
            }
        }
    }
}

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .logo_spliter{
        background-color: var(--main_blue);
        width: 100%;
        height: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        & .logo{
            border: 1px solid black;
            width: 100%;
            height: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            & a{
                width: 200px;
                height: auto;
                overflow: hidden;
                position: absolute;
                left: 200px;
                top: 36px;
                & img{
                    width: 100%;
                    height: auto;
                }
            }
        }
        & .spliter{
            width: 100%;
            height: 70px;
            background-color: var(--gold);
            border-top: 15px solid var(--line_top);
            border-bottom: 15px solid var(--main_blue);
        }
    }
    & nav{
        width: 100%;
        background-color: rgb(233, 230, 230);
        height: auto;
        padding: 2em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        & ul{
            width: 83%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;
            list-style: none;
            #selected{
                color: var(--select);
            }
            & li{
                color: var(--main_blue);
                font-family: var(--font);
                font-size: 0.85em;
                font-weight: 600;
                letter-spacing: 0.02em;
                cursor: pointer;
                & i{
                    font-size: 1.35em;
                    cursor: pointer;
                }
            }
            & li:hover{
                color: var(--select);
                transition: all 300ms ease-in-out;
            }
        }
    }
}

main{
    width: 100%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .carrusel{
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 2em 0;
        & .carrusel_cont{
            width: 1050px;
            height: 550px;
            & #swiper{
                width: 100%;
                height: 100%;
                & #s{
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        & .gray_back{
            background-color: rgb(212, 209, 209);
            width: 86.7%;
            height: 570px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    & .eventos{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        /*checar aqui el width...*/
        & .img_plataforma_cont{
            width: 85%;
            height: auto;
            padding: 1em 0;
            & a{
                width: 100%;
                height: 100%;
                overflow: hidden;
                & img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        & .eventos_and_more{
            width: 85%;
            height: auto;
            padding: 1em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            & article{
                width: 100%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items:flex-start;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 10px;
                & .eventos_universitarios{
                    width: 650px;
                    height: 520px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    & .title{
                        width: 100%;
                        height: auto;
                        font-family: var(--font);
                        font-size: 0.70em;
                        color: var(--main_blue);
                        & h2{
                            font-weight: 100;
                            text-decoration: underline var(--main_blue);
                        }
                    }
                    & .img_event_cont{
                        width: 100%;
                        overflow: hidden;
                        & img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                & .tex_btns_cont{
                    width: 500px;
                    height: auto;
                    padding: 2em 0;
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;
                    font-family: var(--font);
                    & .text{
                        width: 100%;
                        height: auto;
                        margin-bottom: 2.6em;
                        & h3{
                            color: var(--main_blue);
                            font-size: 1.2em;
                            font-weight: 100;
                            line-height: 1.5;
                            letter-spacing: 0.02em;
                            & span{
                                font-weight: 700;
                            }
                        }
                        & p{
                            color: rgba(36, 36, 36, 0.886);
                            font-size: 0.9em;
                            letter-spacing: 0.02em;
                            line-height: 1.5;
                            margin-bottom: 1em;
                        }
                    }
                    & .btns_more{
                        width: 100%;
                        height: auto;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        & a{
                            width: 175px;
                            padding: 1em;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;
                            text-decoration: none;
                            color: #000000;
                            font-family: var(--font);
                            font-size: 0.94em;
                            & i{
                                font-size: 1.3em;
                                font-weight: 700;
                                color: var(--line_top);
                            }
                        }
                        & a:hover{
                            background-color: rgb(224, 224, 224);
                            transition: all 300ms ease-in-out;
                        }
                    }
                }
            }
        }
        & .facebook{
            width: 85%;
            height: auto;
            padding: 1em 0;
            margin-bottom: 1em;
        }
    }
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    & .white_part{
        background-color: #ffffff;
        width: 100%;
        height: auto;
        padding: 1em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & .nav{
            width:85%;
            height: auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 1.5em 0;
            & ul{
                width: 70%;
                height: auto;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 20px;
                & li{
                    font-family: var(--font);
                    font-weight: 100px;
                    font-size: 1em;
                    letter-spacing: 0.02em;
                    list-style: none;
                    & a{
                        text-decoration: none;
                        color: var(--main_blue);
                        padding-bottom: 0.5em;
                        border-bottom: 2px solid rgb(214, 214, 214);
                    }
                    & a:hover{
                        font-style: italic;
                        color: var(--select);
                        transition: all 400ms ease-in-out;
                    }
                }
            }
        }
        & .therest{
            width:85%;
            height: auto;
            padding: 1em 0;
            margin-top: 2em;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
            grid-area: 10px;
            & .cont_info{
                width: 350px;
                height: 550px;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                & .cont_img_santander{
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                    & img{
                        width: 100%;
                        height: 100%;
                    }
                }
                & ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-direction: column;
                    list-style: none;
                    & li{
                        font-family: var(--font);
                        font-size: 1.1em;
                        letter-spacing: 0.02em;
                        font-weight: 100;
                        width: 100%;
                        & a{
                            color: var(--main_blue);
                            text-decoration: none;
                        }
                        & a:hover{
                            font-style: italic;
                            color: var(--select);
                            transition: all 400ms ease-in-out;
                        }
                        & .photo:hover{
                            transition: all 300ms ease-in-out;
                            margin-left: 0.5em;
                        }
                    }
                }
            }
        }
    }
    & .blue_part{
        width: 100%;
        height: auto;
        padding: 1em 0;
        background-color: var(--main_blue);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        & .up{
            margin-top: 1em;
            width: 85%;
            text-align: left;
            & a{
                color: #f5f4f4;
                font-family: var(--font);
                font-size: 0.8em;
                letter-spacing: 0.03em;
                font-weight: 100;
                text-decoration: none;
            }
            & a:hover{
                font-style: italic;
                color: var(--select);
                transition: all 400ms ease-in-out;
            }
        }
        & .middle{
            font-family: var(--font);
            margin-top: 1em;
            width: 85%;
            height: auto;
            padding: 1em 0;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            & p{
                color: #f5f4f4;
                margin-bottom: 0.8em;
                font-size: 1.4em;
                letter-spacing: 0.03em;
            }
            & a{
                color: #f5f4f4;
                text-decoration: none;
                font-weight: 100;
                letter-spacing: 0.03em;
            }
            & a:hover{
                font-style: italic;
                color: var(--select);
                transition: all 400ms ease-in-out;
            }
        }
        & .down{
            width: 85%;
            height: auto;
            padding: 2em 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;
            & .cont_more_info{
                width: 420px;
                height: 90px;
                & p{
                    color: #f5f4f4;
                    font-family: var(--font);
                    letter-spacing: 0.03em;
                    font-size: 1.1em;
                }
            }
        }
    }
}